body{background-image: url('OIP (2).jfif');
  
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;

    }

    
  

    h1 {text-align: center;}
    h2 {text-align: center;}
    
    #top,#middle{
        height: 200px;
        width: 1000px;}
        #bottom{
          height: 400px;
          width: 1000px;
        }
    
   
